{{#each data}}
<ul>
    <li>
        id:{{this._id}}
    </li>
    <li>
        title:{{this.title}}
    </li>
    <li>
        rep:{{this.rep}}
    </li>
    <li>
        level:{{this.level}}
    </li>
    <li>
        description:{{this.description}}
    </li>
</ul>
{{/each}}